<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title th:if="${panneDTO.id !=null}">Modifier une panne</title>
    <title th:if="${panneDTO.id ==null}">Ajouter une panne</title>
</head>
<body>

<div class="row justify-content-center" layout:fragment="content">
    <div class="col-10">
        <form th:object="${panneDTO}" method="post" th:action="@{/pannes}" class="row">
        <div class="card">
            <div class="card-header" th:if="${panneDTO.id !=null}">
               Modifier une panne
            </div>

            <div class="card-header" th:if="${panneDTO.id ==null}">
                Ajouter une panne
            </div>
            <div class="card-body">

                <input type="hidden" th:field="*{id}" >

                <div class="col-12">
                    <label for="typeLogicielId" class="form-label">Materiel</label>
                    <select id="typeLogicielId" class="form-select" th:field="*{materielId}">
                        <option value=""></option>
                        <option th:each="m : ${materiels}" th:value="${m.id}" th:text="${m.libelle}"></option>
                    </select>
                </div>

                <div class="col-12 mb-3">
                    <label for="besoinPiece" class="form-label">Besoin de pieces pour la reparation ?</label>
                    <input type="checkbox" id="besoinPiece" class="form-check-input" th:field="*{besoinPiece}">
                </div>


                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" rows="5" th:field="*{diagnostic}"> </textarea>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="reparable" class="form-label">Ce materiel est-il reparable ?</label>
                        <input type="checkbox" id="reparable" class="form-check-input" th:field="*{reparable}">
                    </div>

                    <div class="col-12">
                        <label for="dateAchat" class="form-label">Date </label>
                        <input type="date"  id="dateAchat" class="form-control" th:field="*{dateDiagnostic}" >
                        <span th:if="${#fields.hasErrors('dateDiagnostic')}" th:errors="*{dateDiagnostic}" class="text-danger"></span>
                    </div>


            </div>
            <div class="card-footer">
                <div class="col-12">
                    <button class="btn btn-primary float-end" th:if="${panneDTO.id ==null}">Ajouter</button>
                    <button class="btn btn-primary float-end" th:if="${panneDTO.id !=null}">Modifier</button>
                </div>
            </div>
        </div>
        </form>
    </div>

</div>

</body>
</html>
