<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des pannes</title>
</head>
<body>

<div class="container">
    <section class="section" layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-6">
                            <h5>Liste des pannes</h5>
                        </div>
                        <div class="col-6">
                            <div class="filter float-end">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots" style="font-size: 29px;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Option</h6>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/panne-form}">Ajouter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Materiel</th>
                        <th scope="col">Diagnostic</th>
                        <th scope="col">Date</th>
                        <th scope="col">Reparable</th>
                        <th scope="col">Besoin de pieces</th>


                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m: ${pannes}">
                        <td th:text="${m.id}"></td>
                        <td th:text="${m.materiel.libelle}">

                        </td>

                        <td th:text="${m.diagnostic}"></td>

                        <td th:text="${#dates.format(m.dateDiagnostic, 'dd-MM-yyyy')}"></td>
                        <td>
                            <span class="badge bg-success" th:if="${m.reparable != null && m.reparable}">Oui</span>
                            <span class="badge bg-danger" th:if="${m.reparable != null && !m.reparable}">Non</span>
                        </td>
                        <td>
                            <span class="badge bg-success" th:if="${m.besoinPiece != null && m.besoinPiece}">Oui</span>
                            <span class="badge bg-danger" th:if="${m.besoinPiece != null && !m.besoinPiece}">Non</span>
                        </td>
                        <td>
                            <a th:href="@{/panne-edit/{id}(id=${m.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a th:href="@{/panne-delete/{id}(id=${m.id})}"><i class="fa-solid fa-trash text-danger"></i></a>

                            <a th:href="@{/intervention-form/{id}(id=${m.id})}" title="Intervention" th:if="${m.reparable && !m.decision}"><i class="bi bi-wrench"></i></a>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

</body>
</html>
