/* index.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* Un blanc plus doux */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container p {
  font-size: 24px;
  color: #012970; /* Couleur bleue */
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #012970; /* Couleur bleue */
  background-color: transparent;
  color: #012970; /* Couleur bleue */
  transition: border-bottom-color 0.3s;
  outline: none; /* Pour enlever le cadre de sélection */
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom-color: #007bff; /* Couleur plus douce pour le cadre de sélection */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #012970; /* Couleur bleue */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #1c2eff;
}

.error-message {
  color: red;
}

/* Effets de gouttes */
.drop {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #012970; /* Couleur bleue */
  border-radius: 50%;
  animation: drop 3s ease-in-out infinite;
}

@keyframes drop {
  0% {
    top: -50px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.drop-1 {
  left: 10%;
  animation-delay: 0.5s;
}

.drop-2 {
  left: 20%;
  animation-delay: 1s;
}

.drop-3 {
  left: 30%;
  animation-delay: 1.5s;
}

.drop-4 {
  left: 40%;
  animation-delay: 2s;
}

.drop-5 {
  left: 50%;
  animation-delay: 2.5s;
}
