<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title th:if="${employes.id !=null}">Modifier un employé</title>
    <title th:if="${employes.id ==null}">Ajouter un employé</title>
</head>
<body>

<div class="row justify-content-center" layout:fragment="content">
    <div class="col-10">
        <div class="card">


            <div class="card-header" th:if="${employes.id !=null}">
                Modifier un Employé
            </div>

            <div class="card-header" th:if="${employes.id ==null}">
                Ajouter un Employé
            </div>
            <div class="card-body">

                <form th:object="${employes}" method="post" th:action="@{/employes}" class="row">

                    <div class="col-12">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="hidden"  class="form-control"  th:field="*{id}">
                        <input type="text" id="nom" class="form-control"  th:field="*{nom}" placeholder="Nom">
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control"  th:field="*{email}">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label for="poste" class="form-label">Poste</label>
                        <input type="text" id="poste" class="form-control" th:field="*{poste}">
                        <span th:if="${#fields.hasErrors('poste')}" th:errors="*{poste}" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label for="typeMateriel" class="form-label">Service</label>
                        <select id="typeMateriel" class="form-select" th:field="*{serviceId}">
                            <option value=""></option>
                            <option th:each="s : ${services}" th:value="${s.id}" th:text="${s.libelle}"></option>
                        </select>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="accordSortie"  th:field="*{accordSortie}">
                            <label class="form-check-label" for="accordSortie">
                                A l'accord de rentrer avec la machine?
                            </label>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-primary float-end" th:if="${employes.id==null}">Ajouter</button>
                        <button class="btn btn-primary float-end" th:if="${employes.id!=null}">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>