<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Ajouter un utilisateur</title>
</head>
<body>

<div class="row justify-content-center" layout:fragment="content">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
               Modifier un employé
            </div>
            <div class="card-body">

                <form th:object="${employes}" method="post" th:action="@{/employe-update/{id}(id=${id})}" class="row">

                    <div class="col-12">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" id="nom" class="form-control"  th:field="*{nom}" placeholder="Nom">
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control"  th:field="*{email}">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label for="poste" class="form-label">Poste</label>
                        <input type="text" id="poste" class="form-control" th:field="*{poste}">
                        <span th:if="${#fields.hasErrors('poste')}" th:errors="*{poste}" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="accordSortie" name="accordSortie">
                            <label class="form-check-label" for="accordSortie">
                                A l'accord de rentrer avec la machine?
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary float-end">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>