<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des inventaires</title>
</head>
<body>

<div class="container">
    <section class="section" layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-6">
                            <h5>Liste des inventaires</h5>
                        </div>
                        <div class="col-6">
                            <div class="filter float-end">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots" style="font-size: 29px;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Option</h6>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/inventaire-form}">Ajouter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">Date</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m: ${inventaires}">
                        <td th:text="${m.id}"></td>
                        <td th:text="${m.technicien.name}"></td>
                        <td th:text="${#dates.format(m.datInventaire, 'dd-MM-yyyy')}"></td>
                        <td>
                            <span class="badge bg-success" th:if="${!m.closeInventaire}">En cours</span>
                            <span class="badge bg-danger" th:if="${m.closeInventaire}">Fermer</span>
                        </td>

                        <td>
                            <a th:href="@{/effectue-inventaire/{id}(id=${m.id})}" class="mx-1"><i class="bi bi-eye"></i></a>
                            <a th:href="@{/fermer-inventaire/{id}(id=${m.id})}" th:if="${!m.closeInventaire}" class="mx-1" title="Cloturer l'inventaire"><i class="bi bi-unlock text-primary"></i></a>
                            <i class="bi bi-lock text-danger mx-1"  th:if="${m.closeInventaire}" title="inventaire cloturer"></i>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

</body>
</html>
