<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
<div class="container">
  <form  th:object="${loginDTO}" method="post" th:action="@{/login}" >
    <p>Bienvenue</p>
    <input type="text"  placeholder="username" th:field="*{userName}" /><br>
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red;"></span><br>
    <input type="password" name="password" placeholder="Mot de passe" th:field="*{password}"><br>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span><br>
    <input type="submit"  value="Connexion"><br>
    <span style="color: red; padding-top: 12px" th:if="${error}" th:text="${error}"></span>
  </form>



  <div class="drop drop-1"></div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3"></div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>
</div>
</body>
</html>
