<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Ajouter un matériel</title>
</head>
<body>

<div class="row justify-content-center" layout:fragment="content">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
               Ajouter un matériel
            </div>
            <div class="card-body">

                <form th:object="${typeMateriel}" method="post" th:action="@{/type-materiels}" class="row">

                    <div class="col-12">
                        <label for="libelle" class="form-label">Libellé</label>
                        <input type="text" id="libelle" class="form-control" th:field="*{libelle}" placeholder="Libellé">
                        <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" class="text-danger"></span>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary float-end">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>
