<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Liste des matériels attribués</title>
</head>
<body>
<div class="container">
    <section class="section" layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-6">
                            <h5>Liste des matériels attribués</h5>
                        </div>
                        <div class="col-6">
                            <div class="filter float-end">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots" style="font-size: 29px;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Option</h6>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/materiel-form}">Ajouter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employé</th>
                        <th scope="col">Matériel</th>
                        <th scope="col">Date d'attribution</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lm : ${LigneMateriel}">
                        <td th:text="${lm.id}"></td>
                        <td th:text="${lm.employe.nom}"></td>
                        <td th:text="${lm.materiel.libelle}"></td>
                        <td th:text="${#dates.format(lm.dateAttribution, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a th:href="@{/ligne-materiel-edit/{id}(id=${lm.id})}" title="Modifier"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a th:href="@{/ligne-materiel-delete/{id}(id=${lm.id})}" title="Supprimer"><i class="fa-solid fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>
