<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Attribuer un matériel</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script> <!-- Inclure jQuery -->
</head>
<body>

<div class="row justify-content-center" layout:fragment="content">
    <form th:object="${ligneMaterielDTO}" method="post" th:action="@{/attribuer-materiels}">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    Attribuer un matériel
                </div>
                <div class="card-body">

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Matériel</label>
                        <div class="col-sm-10">
                            <span th:text="${materiel.get().libelle}"></span>
                            <input type="hidden" th:field="*{materielId}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Attribué à</label>
                        <div class="col-sm-10">
                            <input type="radio" id="employeOption" th:field="*{attribueA}" name="attribueA" value="EMPLOYE" th:value="'EMPLOYE'" checked>
                            <label for="employeOption">Employé</label>
                            <input type="radio" id="serviceOption" th:field="*{attribueA}"  name="attribueA" value="SERVICE" th:value="'SERVICE'">
                            <label for="serviceOption">Service</label>
                        </div>
                    </div>

                    <div class="row mb-3" id="servicesSelect" >
                        <label for="service" class="col-sm-2 col-form-label">Service</label>
                        <div class="col-sm-10">
                            <select id="service" class="form-select" th:field="*{serviceId}">
                                <option value=""></option>
                                <option th:each="e : ${services}" th:value="${e.id}" th:text="${e.libelle}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3" id="employeSelect" >
                        <label for="employeId" class="col-sm-2 col-form-label">Employé</label>
                        <div class="col-sm-10">
                            <select id="employeId" class="form-select" th:field="*{employeId}">
                                <option value=""></option>
                                <option th:each="e : ${employes}" th:value="${e.id}" th:text="${e.nom}"></option>
                            </select>
                        </div>
                    </div>



                    <div class="row mb-3">
                        <label for="dateAttribution" class="col-sm-2 col-form-label">Date d'attribution</label>
                        <div class="col-sm-10">
                            <input type="date" id="dateAttribution" class="form-control" th:field="*{dateAttribution}" th:min="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
                            <span th:if="${#fields.hasErrors('dateAttribution')}" th:errors="*{dateAttribution}" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row" th:if="${noAccord} or ${noMobilite} or ${error} or ${materielAttribut}">
                        <div class="col-md-12" >
                             <span th:text="${noAccord}" th:if="noAccord" class="text-danger"></span>
                            <span th:text="${noMobilite}" th:if="noMobilite" class="text-danger"></span>
                            <span th:text="${materielAttribut}" th:if="noMobilite" class="text-danger"></span>
                            <span th:text="${error}" th:if="noMobilite" class="text-danger"></span>

                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary float-end">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            // Au chargement de la page, vérifiez l'état initial des boutons radio et affichez/masquez le champ de sélection en conséquence
            toggleServiceSelect();

            // Ajoutez un écouteur d'événements pour les changements d'état des boutons radio
            $('input[name="attribueA"]').change(function () {
                toggleServiceSelect();
            });

            function toggleServiceSelect() {
                var attribueAValue = $('input[name="attribueA"]:checked').val();
                console.log("===========================>",attribueAValue)
                if (attribueAValue === 'SERVICE') {
                    $('#servicesSelect').show();
                } else {
                    $('#servicesSelect').hide();
                }

                if (attribueAValue === 'EMPLOYE') {
                    $('#employeSelect').show();
                } else {
                    $('#employeSelect').hide();
                }
            }
        });
    </script>
</th:block>
</body>
</html>