<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Liste des matériaux</title>
</head>
<body>

<div class="container">
    <section class="section" layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-6">
                            <h5>Liste des matériaux</h5>
                        </div>
                        <div class="col-6">
                            <div class="filter float-end">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots" style="font-size: 29px;"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Option</h6>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/materiel-form}">Ajouter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Libellé</th>
                        <th scope="col">Fabricant</th>
                        <th scope="col">Modèle</th>
                        <th scope="col">Numéro de Série</th>
                        <th scope="col">État d'Achat</th>
                        <th scope="col">Mobilité</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="materiel : ${materiels}">
                        <td th:text="${materiel.id}"></td>
                        <td th:text="${materiel.libelle}"></td>
                        <td th:text="${materiel.fabricant}"></td>
                        <td th:text="${materiel.modele}"></td>
                        <td th:text="${materiel.numeroSerie}"></td>
                        <td>
                            <span th:if="${materiel.etatAchat}" class="badge bg-success">Acheté</span>
                            <span th:unless="${materiel.etatAchat}" class="badge bg-danger">Non acheté</span>
                        </td>
                        <td>
                            <span th:if="${materiel.mobilite}" class="badge bg-success">Oui</span>
                            <span th:unless="${materiel.mobilite}" class="badge bg-danger">Non</span>
                        </td>
                        <td>
                            <a th:href="@{/materiel-edit/{id}(id=${materiel.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a th:href="@{/materiel-delete/{id}(id=${materiel.id})}"><i class="fa-solid fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

</body>
</html>
